

.home {
  box-sizing: inherit;
  background-color: rgb(245, 245, 245);
}
.wrap-header {
  height: 356px;
  background: url(../img/bainong.jpg) 0 0/100% 100% no-repeat;
  padding-top: 203px;
}
.wrap {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
}
.wrap .isTransparent {
  background-color: transparent;
  color: #fff;
}
.wrap .header {
  margin: 0 auto;
  width: 90%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wrap .header h1 {
  font-size: 20px;
  cursor: pointer;
  /* color: white; */
  font-weight: 300;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.wrap .header .index {
  width: 120px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 300;
}
.wrap-header .title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: #fff;
}
.wrap-header .contact-btn {
  display: block;
  margin: 20px auto 0;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #fff;
}

.wrap-content {
  margin: 0 auto;
  width: 87%;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.wrap-title {
  padding: 24px 0;
  text-align: center;
}
.wrap-title h3 {
  margin: 0;
  font-weight: 400;
  font-size: 38px;
  line-height: 40px;
}
.wrap-title p {
  font-size: 23px;
  padding: 12px;
  line-height: 3px;
}
.wrap-title img {
  margin: 10px auto 0;
  width: 40px;
  height: 18px;
}

.wrap-content .about-content {
  position: relative;
  height: 400px;
  background: url(../img/gzuo.jpg) 0 100%/971px 390px no-repeat;
}
.wrap-content .about-content .about-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 396px;
  height: 340px;
  padding: 55px 35px 0 50px;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.7);
}
.wrap-content .about-content .about-wrap h3 {
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 15px;
  margin-top: -20px;
  line-height: 22px;
  position: relative;
}

.wrap-content .about-content .abour-wrap-l {
  width: 5px;
  height: 18px;
  background-color: rgb(255, 111, 111);
}
.wrap-content .about-content .about-wrap p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}
.wrap-content .reason-content {
  text-align: center;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
}
.reason-title {
  padding: 45px 83px 0 121px;
  font-size: 28px;
  margin-left: -10%;
  line-height: 40px;
  font-weight: 800;
}
.wrap-content .reason-content .reason-item p {
  color: white;
}

.wrap-content .reason-content .reason-item-0 {
  background-color: #f1511b;
  -webkit-box-shadow: 0 2px 8px 0 #f1511b;
  box-shadow: 0 2px 8px 0 #f1511b;
}
.wrap-content .reason-content .reason-item-1 {
  background-color: #80cc28;
  -webkit-box-shadow: 0 2px 8px 0 #80cc28;
  box-shadow: 0 2px 8px 0 #80cc28;
}
.wrap-content .reason-content .reason-item-2 {
  background-color: #00adef;
  -webkit-box-shadow: 0 2px 8px 0 #00adef;
  box-shadow: 0 2px 8px 0 #00adef;
}
.wrap-content .reason-content .reason-item-3 a:hover {
  background-color: #fbbc09;
  -webkit-box-shadow: 0 2px 8px 0 #fbbc09;
  box-shadow: 0 2px 8px 0 #fbbc09;
}

.wrap-content .service-content .service-item,
.wrap-content .service-content {
  justify-content: space-around;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrap-content .service-content .service-item-0,
.wrap-content .service-content a:hover {
  background-color: #00adef;
}

/* .wrap-content .service-content img {
  background:url(../tm.png) no-repeat;
} */

.service {
  width: 110%;
  margin-left: -5%;
}

.wrap-content .service-content .service-item {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 40px;
  width: 45%;
  height: 170px;
  background-color: #fff;
  cursor: pointer;
}

.wrap-content .service-content .service-item img {
  margin-left: 40px;
  margin-right: 40px;
  width: 120px;
  height: 120px;
  /* background-color: blue; */
}
.wrap-content .service-content .service-item .service-title {
  font-size: 28px;
  line-height: 40px;
}
.wrap-content .service-content .service-item .service-desc {
  margin-top: 10px;
  line-height: 20px;
  color: #666;
}

.wrap-content .service-content .service-item-0 a:hover {
  background-color: #7587db;
  color: #fff;
}
.wrap-content .service-content .service-item-1 a:hover {
  background-color: #ff5c35;
  color: #fff;
}
.wrap-content .service-content .service-item-2 a:hover {
  background-color: #fbbc09;
  color: #fff;
}
.wrap-content .service-content .service-item-3 a:hover {
  background-color: #80cc28;
  color: #fff;
}

.wrap-content .reason-content .reason-item {
  width: 320px;
  height: 190px;
  margin-right: 10px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
}


.margin-bottom-40 {
  margin-bottom: 40px;
}
.wrap-content .case-content {
  display: flex;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wrap-content .case-content .case-item {
  width: 225px;
  height: 500px;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 2px 8px 0 hsla(0, 0%, 100%, 0.3);
  box-shadow: 0 2px 8px 0 hsla(0, 0%, 100%, 0.3);
}
.wrap-content .case-content .case-item img {
  margin: 45px auto 20px;
  width: 88px;
  height: 88px;
}
.wrap-content .case-content .case-item .case-title {
  font-size: 16px;
  font-weight: 800;
}
.wrap-content .case-content .case-item .case-desc {
  padding: 10px 35px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #666;
}
.wrap-content .contact-content {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
}
.wrap-content .contact-content img {
    width: 824px;
}
.wrap-content .contact-content .contact-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    position: relative;
}
.wrap-content .contact-content .contact-desc {
    padding-bottom: 10px;
    line-height: 20px;
    word-break: break-all;
}
.contact-section {
  margin-left: 3%;
}
